.container {
    display: flex;
    margin: 1em;
    gap: 1em;
    width: 500px;
    background-color: lightgray;
}
.box {
    height: 400px;
    width: 400px;
    background-color: red;
}
.text {
    display: flex;
    align-items: center;
}
